@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
}

.flip div {
  transform: rotateY(90deg);
  transition: transform 0.3s;
}

.flip-item {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}